<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Admin</title>

        <link href="/libs/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="/libs/css/jquery-ui.css" rel="stylesheet">
        <link href="/libs/css/jquery.dataTables.css" rel="stylesheet">
        <link href="/libs/css/bootstrap.min.css" rel="stylesheet">
        <link href="/libs/css/dataTables.responsive.css" rel="stylesheet">
        <link href="/assets/css/offers.css" rel="stylesheet">
        <script src="/libs/js/ie-emulation-modes-warning.js"></script>
        <script src="/libs/js/jquery.min.js"></script>
        <script src="/libs/js/jquery-ui.js"></script>
        <script src="/libs/js/jquery.dataTables.min.js"></script>
        <script src="/libs/js/dataTables.responsive.js"></script>
        <script src="/libs/js/bootstrap.min.js"></script>
        <script src="/libs/js/ie10-viewport-bug-workaround.js"></script>

    </head>

    <body>

        <div class="container">
            <div class=" header">
               <div class="row">
                    <a href="/offers" class="logo pull-left">
                        Busmeter
                    </a>
                    <span class="pull-right">
                        <label> Welcome! <label>
                        <label class="username"><%=user.username%></label>
                    </span>
                </div>
                <div class="row">
                    <span class="pull-left heading">Offers Page</span>
                    <a href="/logout" class="pull-right"> Logout</a>
                    <legend></legend>
                </div>
                <div class="row"> 
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active">
                            <a href="/offers">Offers</a>
                        </li>
                        <li role="presentation">
                            <a href="/realTime">Real time dashboard</a>
                        </li>
                    </ul>

                </div>
                <br/>
                <div class="row addOfferBtn">
                    <button class="btn btn-success" id="pullOffers">Pull Offers</button>
                    <button class="btn btn-success" data-toggle="modal" id="addOfferBtn" data-target="#myModal">Add offer</button>
                     <button class="btn btn-primary" id="updateOfferBtn" data-target="#myModal">Update offer</button>
                    <button class="btn btn-danger" id="delete">Delete offer</button>
                </div>

                <br/>

                <div class="row">
                    <table id="offersTable" width:"100%"></table>
                </div>

                <div id="errorModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Error</h4>
                          </div>
                          <div class="modal-body">
                            <p id="errorMsg"></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                          </div>
                        </div>
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id = "addOfferTitle">Add offer</h4>
                            <h4 class="modal-title" id = "updateOfferTitle">Update offer</h4>
                          </div>
                          <div class="modal-body">
                            <form class="form-horizontal formSignin" action="/login" method="POST">
                                <fieldset>
                                    
                                    <div class="control-group">
                                        <label class="control-label"  for="amount">Amount</label>
                                        <div class="controls">
                                            <input type="text" id="amount" name="amount" placeholder="" class="form-control" required>
                                        </div>  
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"  for="minAmount">Minimum Amount</label>
                                        <div class="controls">
                                            <input type="text" id="minAmount" name="minAmount" placeholder="" class="form-control" required>
                                        </div>  
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"  for="origin">Origin</label>
                                        <div class="controls">
                                            <input type="text" id="origin" name="origin" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                     <div class="control-group">
                                        <label class="control-label"  for="destination">Destination</label>
                                        <div class="controls">
                                            <input type="text" id="destination" name="destination" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                     <div class="control-group">
                                        <label class="control-label"  for="couponCode">Coupon Code</label>
                                        <div class="controls">
                                            <input type="text" id="couponCode" name="couponCode" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"  for="expiryDate">Expiry Date</label>
                                        <div class="controls">
                                           <input type="text" id="expiryDate" name="expiryDate" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"  for="site">Site</label>
                                        <div class="controls">
                                           <select id="site" name="site" placeholder="" class="form-control">
                                                <option value="redBus">redBus</option>
                                                <option value="goibibo">goibibo</option>
                                                <option value="Paytm">Paytm</option>
                                                <option value="Travelyaari">Travelyaari</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"  for="site">Verified Date</label>
                                        <div class="controls">
                                            <input type="text" id="verifiedDate" name="verifiedDate" placeholder="" class="form-control" required>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"  for="title">Title</label>
                                        <div class="controls">
                                            <input type="text" id="title" name="title" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                     <div class="control-group">
                                        <label class="control-label"  for="offerTitle">Offer Title</label>
                                        <div class="controls">
                                            <input type="text" id="offerTitle" name="offerTitle" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                     <div class="control-group">
                                        <label class="control-label"  for="discountType">Discount Type</label>
                                        <div class="controls">
                                            <input type="text" id="discountType" name="discountType" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                     <div class="control-group">
                                        <label class="control-label"  for="discountTop">Discount Top</label>
                                        <div class="controls">
                                            <input type="text" id="discountTop" name="discountTop" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                      <div class="control-group">
                                        <label class="control-label"  for="discountBottom">Discount Bottom</label>
                                        <div class="controls">
                                            <input type="text" id="discountBottom" name="discountBottom" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label"  for="maximumDiscount">Maximum Discount</label>
                                        <div class="controls">
                                            <input type="text" id="maximumDiscount" name="maximumDiscount" placeholder="" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" rows="5" id="description" name ="description" required></textarea>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input type="checkbox" id="isExpired" name="isExpired"><strong>isExpired</strong></label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input type="checkbox" id="isDeal" name="isDeal"><strong>isDeal</strong></label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input type="checkbox" id="isOneTime" name="isOneTime"><strong>isOneTime</strong></label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input type="checkbox" id="isExpirable" name="isExpirable"><strong>isExpirable</strong></label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input type="checkbox" id="isPercentage" name="isPercentage"><strong>isPercentage</strong></label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input type="checkbox" id="isFlat" name="isFlat"><strong>isFlat</strong></label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input type="checkbox" id="isCashback" name="isCashback"><strong>isCashback</strong></label>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label checkbox-inline"><input  id="isUpto" type="checkbox" name="isUpto"><strong>isUpto</strong></label>
                                    </div> <div class="control-group">
                                        <label class="control-label checkbox-inline"><input  id="isActive" type="checkbox" name="isActive"><strong>isActive</strong></label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-default" id="saveOffer">Save</button>
                                        <button type="submit" class="btn btn-default" id="updateOffer">Update</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </fieldset>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /container -->    
        <script src="/assets/js/offers.js"></script>
    </body>
</html>
