
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Admin</title>


        <link href="/libs/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <link href="/libs/css/jquery-ui.css" rel="stylesheet">
        <link href="/libs/css/jquery.dataTables.css" rel="stylesheet">
        <link href="/libs/css/bootstrap.min.css" rel="stylesheet">
        <link href="/libs/css/dataTables.responsive.css" rel="stylesheet">

        <link href="/assets/css/realTime.css" rel="stylesheet">

        <script src="/libs/js/ie-emulation-modes-warning.js"></script>
        <script src="/libs/js/jquery.min.js"></script>
        <script src="/libs/js/jquery-ui.js"></script>
        <script src="/libs/js/jquery.dataTables.min.js"></script>
        <script src="/libs/js/dataTables.responsive.js"></script>
        <script src="/libs/js/bootstrap.min.js"></script>
        <script src="/libs/js/ie10-viewport-bug-workaround.js"></script>
    </head>

    <body>

        <div class="container">
            <div class=" header">
                <div class="row">
                    <a href="/offers" class="logo pull-left">
                        Busmeter
                    </a>
                    <span class="pull-right">
                        <label> Welcome! <label>
                        <label class="username"><%=user.username%></label>
                    </span>
                </div>
                <div class="row">
                    <span class="pull-left heading">Real time dashboard Page</span>
                    <a href="/logout" class="pull-right"> Logout</a>
                    <legend></legend>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li role="presentation" >
                            <a href="/offers">Offers</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="/realTime">Real time dashboard</a>
                        </li>
                    </ul>
                </div>
                <br/>
            </div>
        </div> <!-- /container -->
  </body>
</html>
