<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Admin</title>

        <link href="/libs/css/bootstrap.min.css" rel="stylesheet">

        <link href="/libs/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

        <link href="/assets/css/register.css" rel="stylesheet">

        <script src="/libs/js/ie-emulation-modes-warning.js"></script>
        <script src="/libs/js/jquery.min.js"></script>
        <script src="/libs/js/ie10-viewport-bug-workaround.js"></script>
        <script src="/libs/js/bootstrap.min.js"></script>
    </head>

    <body>

        <div class="container">

            <form class="form-horizontal formRegister" action='/register' method="POST">
              <fieldset>
                <div id="legend">
                  <legend class="logo">Busmeter</legend>
                </div>
                <div class="control-group">
                  <!-- Username -->
                  <label class="control-label"  for="username">Username</label>
                  <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="form-control" required autofocus>
                    
                  </div>
                </div>
                <br />
                <div class="control-group">
                  <!-- Password-->
                  <label class="control-label" for="password">Password</label>
                  <div class="controls">
                    <input type="password" id="password" name="password" placeholder="" class="form-control" required autofocus>
                  </div>
                </div>
                <br />     
                <div class="control-group">
                  <!-- Button -->
                  <div class="controls">
                    <button class="btn btn-lg btn-block btn-success">Register</button>
                    <a href="/" class="pull-right">Login</a>
                  </div>
                </div>
              </fieldset>
            </form>
            
        </div> <!-- /container -->


    </body>
</html>
