body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  word-wrap : break-word;
}

.formSignin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#errorModal{
  z-index : 2000;
}

.logo{
	color: #B04B44;
    font-weight: bold;
    font-size: 20px;
}