body{
	word-wrap:break-word;
}

.header{
	padding :15px;
}

.logo{
	color: #B04B44;
    font-weight: bold;
    font-size: 20px;
}

#errorModal{
	z-index : 2000;
}

.username{
	color: #B04B44;
	font-weight: bold;
}

.heading{
	font-weight: bold;
}

.addOfferBtn{
	text-align: right;
}

