body{
	word-wrap:break-word;
}

.header{
	padding :15px;
}

.logo{
	color: #B04B44;
    font-weight: bold;
    font-size: 20px;
}

#errorModal{
	z-index : 2000;
}

.username{
	color: #B04B44;
	font-weight: bold;
}

.heading{
	font-weight: bold;
}

.addRealTimeBtn{
	text-align: right;
}

.realtimeView{
	padding: 0px;
}

.milestoneView > ul{
	list-style: decimal;
    border: 1px solid #E3E3E3;
    margin: 18px 0;
    height: 350px;
    overflow-y: auto;
}

.milestoneView > ul > li{
	padding: 5px 0;
}

.editIcon, .categoryEditIcon{
	background: url("/assets/images/edit.png");
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-repeat: no-repeat;
	margin:0px 5px;
}

.deleteIcon, .categoryDeleteIcon{
	background: url("/assets/images/delete.png");
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-repeat: no-repeat;
	margin:0px 5px
}

.milestone{
	width: 70%;
}